**C23-PS046 - AdaJob Recommender System**

This collab file is to train and export the recommender system model. The output of this file is a zipped recommender model file

In [ ]:
#unzip the model from the .zip file

!unzip "/content/modelsavedwithkerasmeta.zip" -d "/pleasework"

Archive:  /content/modelsavedwithkerasmetav2.zip
replace /pleasework/fingerprint.pb? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
  inflating: /pleasework/fingerprint.pb
replace /pleasework/saved_model.pb? [y]es, [n]o, [A]ll, [N]one, [r]ename: yes
  inflating: /pleasework/saved_model.pb
replace /pleasework/keras_metadata.pb? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /pleasework/keras_metadata.pb
replace /pleasework/variables/variables.data-00000-of-00001? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /pleasework/variables/variables.data-00000-of-00001
replace /pleasework/variables/variables.index? [y]es, [n]o, [A]ll, [N]one, [r]ename: y
  inflating: /pleasework/variables/variables.index

In [ ]:
#import the necessary libraries

import tensorflow as tf
import pandas as pd

In [ ]:
#load the model

new_model = tf.keras.models.load_model('/pleasework')

WARNING:tensorflow:No training configuration found in save file, so the model was *not* compiled. Compile it manually.

In [ ]:
# Check the model's architecture
new_model.summary()

Model: "brute_force"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 sequential (Sequential)     (None, 32)                3232

=================================================================
Total params: 4,222
Trainable params: 3,232
Non-trainable params: 990
_________________________________________________________________

In [ ]:
#load the dataset (to filter out recommended jobs that the user has done before)

df_enrollments = pd.read_csv('/content/Dataset Recommendation System - Enrollment Dataset_enroll only.csv',  dtype={'user_id': 'str', 'task_id':'str'})
df_enrollments

In [ ]:
#define a function to filter out recommended airdrop jobs that the user has already enrolled

def delete_enrolled_tasks(userid, titles):
  titles = titles.tolist()
  recommended_titles = []
  for i in range(len(titles[0])):
    has_been_enrolled = False
    cleaned_title = str(titles[0][i]).replace('b\'', '')
    cleaned_title = cleaned_title.replace('\'', '')
    for task_enrolled in df_enrollments[df_enrollments['user_id']==str(userid)].task_title:
      if cleaned_title == task_enrolled:
        has_been_enrolled = True
        break
    if not has_been_enrolled: 
      recommended_titles.append(cleaned_title)
      print(cleaned_title)
      #print('a')
  return recommended_titles

In [ ]:
#define a function to filter out recommended airdrop jobs that the user has already enrolled

def delete_enrolled_tasks_v2(userid):
  _, titles = new_model.predict([str(userid)])
  titles = titles.tolist()
  recommended_titles = []
  for i in range(len(titles[0])):
    has_been_enrolled = False
    cleaned_title = str(titles[0][i]).replace('b\'', '')
    cleaned_title = cleaned_title.replace('\'', '')
    for task_enrolled in df_enrollments[df_enrollments['user_id']==str(userid)].task_title:
      if cleaned_title == task_enrolled:
        has_been_enrolled = True
        break
    if not has_been_enrolled: 
      recommended_titles.append(cleaned_title)
      print(cleaned_title)
      #print('a')
  return recommended_titles

In [ ]:
df_target_user = df_enrollments[df_enrollments.user_id==str(69)]
df_target_user

,user_id,user_name,user_gender,user_gender_bool,is_employed,is_employed_bool,user_age_group,user_level,user_level_bool,task_id,task_title,task_type,enrollment,enrollment_bool
481,69,Serena,Female,False,Unemployed,False,B,Experienced,True,24,ETHOS,Giveaway,Yes,True
482,69,Serena,Female,False,Unemployed,False,B,Experienced,True,28,Giveaway D,Giveaway,Yes,True
483,69,Serena,Female,False,Unemployed,False,B,Experienced,True,29,Giveaway E,Giveaway,Yes,True
484,69,Serena,Female,False,Unemployed,False,B,Experienced,True,30,Giveaway F,Giveaway,Yes,True

In [ ]:
# Pass a user id in, get top predicted airdrop titles back.
userid = 69
_, titles = new_model.predict([str(userid)])

1/1 [==============================] - 0s 116ms/step

In [ ]:
print(f"Recommendations for user {userid}: {titles[:3]}")

Recommendations: [[b'Giveaway D' b'ETHOS' b'Giveaway F' b'Giveaway C' b'Giveaway E'
  b'Giveaway A' b'Catly.io' b'Giveaway B' b'Taiko' b'Turbos Finance']]

In [ ]:
recommended_titles = delete_enrolled_tasks(userid, titles)

#get top 3 recommended airdrops
print(f"Top 3 Recommendations for user {userid} (filtered): {recommended_titles[:3]}")

Giveaway C
Giveaway A
Catly.io
Giveaway B
Taiko
Turbos Finance
Recommendations: ['Giveaway C', 'Giveaway A', 'Catly.io']

In [ ]:
recommended_titles_v2 = delete_enrolled_tasks_v2(userid)

#get top 3 recommended airdrops
print(f"Top 3 Recommendations for user {userid} (filtered): {recommended_titles_v2[:3]}")

1/1 [==============================] - 0s 47ms/step
GiroSwap
ETHOS
Hashgreenswap
Fusion Finance
Elixir Protocol
Giveaway B
Recommendations: ['GiroSwap', 'ETHOS', 'Hashgreenswap']